<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KVC &amp;  KVO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KVC 通过 NSArray 类型查找值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>KVC 通过 NSSet 类型查找值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>KVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KVCDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>KVC_Collection Operators.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>KVC_keyPath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>KVC_字典.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>KVC_实现原理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>KVC_键值验证.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>KVO and KVC Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>KVO 与线程.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>KVO 画板.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>KVO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D124D3D1EC40F8300933346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D124D5B1EC40F9800933346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D124D761EC40FA300933346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D2950F51EC946810026AC77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D2951191EC955A50026AC77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D71E5A61EC5A849004728C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DE89E7E1EC7F7130070F93F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DE89E9C1EC7FB970070F93F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DE89EBA1EC831E50070F93F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DE89EE11EC8AF060070F93F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DFBD6371ECD65BF00CBC44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DFBD65D1ECD886400CBC44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DFBD67B1ECD8EBF00CBC44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DFBD69C1ECDA09B00CBC44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
