<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KVO 底层实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Runtime 学习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>交换两个方法的实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>动态添加属性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>字典转模型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>字典转模型_runtime 实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>消息机制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>消息转发.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>自动生成属性代码.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D124CAA1EC2EFDF00933346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D124CC81EC2F8EC00933346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D124CED1EC3093500933346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D124D0D1EC30E1400933346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D155F4B1EC2A9AF000750B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D155F691EC2A9D7000750B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D155F8A1EC2B465000750B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D155FA81EC2BAA4000750B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D155FC61EC2C121000750B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
